################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarsRoverCS/bin
/MarsRoverCS/obj
/MarsRoverCSTest/bin/Debug/net8.0
/MarsRoverCSTest/obj
